{% extends 'questions/base.html' %}

{% block title %}
    Категория {{ category.name }}
{% endblock %}

{% block content %}
    <div>
        <p>Категория {{ category }}</p>
        <p>Краткая информация: {{ category.info }}</p>
    </div>
    {% for question in category.questions.all %}
        <div class="card quest-card">
            <div class="card-header">Автор:
                {% if question.author %}
                    {{ question.author }}
                {% else %}
                    Анонимный автор
                {% endif %}
            </div>
            <div class="card-body">
                <a class="quest-text" href="{{ question.get_absolute_url }}"><h2
                        class="card-title">{{ question.text_of_question }}</h2></a>
                {% if question.answer %}
                    <div class="card">
                        <div class="card-header">Автор:
                            {% if question.answer.author %}
                                {{ question.answer.author }}
                            {% else %}
                                Анонимный автор
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="card-text"><h4>{{ question.answer }}</h4></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}