{% extends 'base.html' %}

{% block title %}
Вопрос номер {{ question.id }}
{% endblock %}

{% block content %}
<div>
    <h1>{{ question.text_of_question }}</h1>
    <p>Автор: {{ question.author }}</p>
    <p>Ответ на вопрос: {{ question.answer }}</p>
    <p>Автор: {{question.answer.author }}</p>
    <h4>Комментарии:</h4>
    {% if question.comments.all.count == 0 %}
        <p>Пока нет комментариев</p>
    {% else %}
    {% for comment in question.comments.all %}
        <p>{{ comment.text_of_comment }}</p>
        <p>{{ comment.author }}</p>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}