{% extends 'questions/base.html' %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block navbar %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="width: 100%;">
        <div class="container-fluid" style="max-width: 1024px; margin: auto;">
            <a class="navbar-brand" href="{% url 'questionList' %}">Все вопросы</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if perms.questions.can_create_question %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'addQuestion' %}">Добавить вопрос</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <span class="navbar-text">
                                Добро пожаловать, {{ user.username }}
                            </span>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'personal-area' %}">Личный
                                кабинет</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Войти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <p>Все вопросы</p>
    {% if questions %}
        {% for question in questions %}
            <div class="card quest-card">
                <div class="card-header">Автор:
                    {% if question.author %}
                        {{ question.author }}
                    {% else %}
                        Анонимный автор
                    {% endif %}
                    {% if not question.is_published %}
                        <a href="{% url 'publish_question' question.pk %}">Опубликовать</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <a class="quest-text" href="{{ question.get_absolute_url }}"><h2
                            class="card-title">{{ question.text_of_question }}</h2></a>
                    {% if question.answer %}
                        <div class="card">
                            <div class="card-header">Автор:
                                {% if question.answer.author %}
                                    {{ question.answer.author }}
                                {% else %}
                                    Анонимный автор
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <div class="card-text"><h4>{{ question.answer }}</h4></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Пока вы не задали ни одного вопроса</p>
    {% endif %}
{% endblock %}
